/* SMD landing page CSS */

body {
	margin:0; 
	font-family: Futura, sans-serif; 
	height: 100%;
}

.container {
	margin-left: 50px;
	padding: 20px;
}

#topNavBar {
	background-color: #ffc420;
	margin-bottom: 10px;
}

#topNavBar ul {
	padding: 20px;
	margin: 0px;
    text-align: center;
}

#topNavBar ul li {
	list-style: none;
	display: inline;
}

.navButton {
	text-decoration: none;
	padding: 10px;
	color: #262035
}

.navButton:hover  {
	color: #ffa115;
	text-decoration: none;
}

.header {
	background-color: #262035; 
	height: 50px; 
	margin: 0; 
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 90px;
}

.headerText {
	margin: 0px 10px; 
	font-size: 50px;
	color: #ffd562;
	text-align: center;
	font-family: New Baskerville, serif;
}

.subtitle {
	color: #3f3043;
	font-family: New Baskerville, serif;
}

.subHeaderText {
	margin: 5px 10px;
	color: #e1e4ee;
	text-align: center;
	font-size: 12px;
}

/* Code demonstration CSS */

.codeSnippet {
	background-color: #eeeeee;
	color: #888888;
	padding: 20px;
	margin: 30px;
	border-radius: 5px;
	font-weight: bold;
}

.inlineCode {
	font-weight: bold;
	color: #888888;
}

/* Home Page  */

#landingPageBody {
	background-color: #262035;
}

#landingPageTitleText {
	font-size: 72px;
}

.landingPageTitle {
	top:270px;
	text-align: center;
	background-color: #262035;
	padding: 50px;
	position: fixed;
	width:100%;
	z-index: 10;
	border-top: 10px solid #ffc420;
}

#landingPageNavBar {
	background-color: #ffc420;
	position: fixed;
	top: 470px;
	padding-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
	z-index: 10;
	width: 100%
}

#landingPageNavBar ul {
	padding: 10px;
	margin: 0px;
	height: 50px;
    text-align: center;
}

#landingPageNavBar ul li {
	list-style: none;
	display: inline;
}

.landingPageNavButton {
	text-decoration: none;
	padding: 10px;
	color: white;
	font-size: 30px;
}

.landingPageNavButton:hover  {
	color: #669df6;
	text-decoration: none;
	padding: 10px;
}

/* API page CSS */

.blockDemo {
    width: 20px;
    height: 20px;
    float: left;
	margin-right: 15px;
}

.lineDemo {
    width: 50px;
    height: 10px;
    float: left;
	margin-right: 15px;
}

.nodeDemo {
    width: 15px;
    height: 15px;
    float: left;
	margin-right: 15px;
	border-radius: 50%;
}